*{
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color: #d0c3c3;
    color: #fff;
}

/* CORES DE FUNDO */
.bg-cor-1{
    background-color: #08364f;
}

.bg-cor-2{
    background-color: #476e82;
}

/* CORES PARA TEXTO */
.cor-1{
     color: rgb(168, 176, 180);
}

.cor-2{
    color: rgb(212, 34, 34);
}

.cor-clara{
    color: rgb(255, 255, 255);
}

.cor-escura{
    color: rgb(50, 50, 50);
}

/* ESTILO PARA LINK DA MARCA (navbar-brand) */
.navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.navbar-brand:hover{
    color: #b8b384;
}

@media(min-width:768px){
    .navbar-brand{
        text-align: left;
    }
}

/* AJUSTE DOS ICONES */
#navbar-itens{
    justify-content: space-between;
}

@media(min-width:768px){
    #navbar-itens{
        min-width: 80%;
        display: flex;
    }
}

#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;

}

#navbar .navbar-nav li{
    margin-left: 1em;

}

#navbar i{
    font-size: 1.2rem;
}

#form-pesquisa{
    width: 100%;
    margin: 2em 0;
}

@media(min-width:768px){
    #form-pesquisa{
        width: 50%;
        margin: 0;
    }
}

/* ESTILIZANDO O FORM DE PESQUISA */
#form-pesquisa{
    border: 2px solid #c0a5a5;
    border-radius: 3px;
    padding: 5px 15px;
    color: #fff;
}

#form-pesquisa input{
    background-color: transparent;
    border: none;
    color: #fff;
}


#form-pesquisa input:focus{
    box-shadow: none;
}

#form-pesquisa input::placeholder{
    color: #ffffff;
}

/* CSS DA NAVBAR INFERIOR */
#container-navbar-inferior .container{
    justify-content: flex-end;
}

/* ESTILIZANDO O TEXTO DOS LINKS DA NAVBAR INFERIOR*/
#container-navbar-inferior a{
    font-weight: 600;
    color: #fff;
}

.navbar-toggler{
    font-size:1.5em;

}

/* MEUS ESTILOS PARA O BANNER */

#banners-container{
    padding: 0;
}

.carousel-caption{
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
}

.carousel-caption h2{
    font-size: 1.8em;
}

@media(min-width: 768px){
    #slider .carousel-item,
    #slider img{
        height: 600px;
    }
}

/* CSS dos mini-banners */

#mini-banners-container{
    margin-top: 3em;
    z-index: 10;
}

#mini-banners-container .col-12{
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(min-width:768px){
    #mini-banners-container .col-12{
        max-width: 30%;
    }
}

#mini-banners-container .col-12 h2{
    text-transform: uppercase;
    max-width: 50%;
    font-size: 2em;
    font-weight: 700;
    line-height: 1em;
}

#mini-banners-container .col-12 img{
    height: 200px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#mini-banners-container .col-12 a{
    font-weight: bold;
    color: #08364f;
    font-size: 0.8em;
    transition: 0.5s;
}

#mini-banners-container .col-12 a:hover{
    color: #fff;
}